@import "src/variables";

/* Files status table */
table {
    width: 100%;
    margin-top: 15px;
    padding: 0 10px;

    ::ng-deep th.mat-header-cell:first-of-type,
    ::ng-deep td.mat-cell:first-of-type {
        padding: 0;
        min-width: 32px;
    }
    .mat-column-select {
        overflow: initial;
    }

    .checkbox-container {
        text-align: center;
    }


    .mat-cell {

        .clickable {
            cursor: pointer;
        }

        .clickable:hover {
            text-decoration: underline;
        }

        .span-file-status {
            font-family: "Roboto Black", sans-serif;
            font-size: 12px;
            padding: 0 5px;

            &.completed {
                color: $success;
            }
            &.loading {
                color: $primary;
            }
            &.error {
                color: $danger;
            }
        }
    }
}
