<div class="status-container">
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort matSortActive="startDate" matSortDirection="desc">


        <!-- Checkbox -->
        <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
                <div class="checkbox-container">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </div>
            </th>
            <td *matCellDef="let row" mat-cell>
                <div class="checkbox-container">
                    <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                  (click)="$event.stopPropagation()"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </div>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
            <td *matCellDef="let element" mat-cell>
                <span (click)="fileNameClicked.emit(element)" (ellipsis-click-more)="showSnackbar($event, element.name)"
                      [ngClass]="{'clickable': element.status === 'COMPLETED'}" class="span-file-name"
                      ellipsis>{{element.name}}</span>
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
            <td *matCellDef="let element" mat-cell>
                <span [ngClass]="getFileStatusClass(element.status)" class="span-file-status">{{element.status}}</span>
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="startDate">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Date</th>
            <td *matCellDef="let element" mat-cell> {{element.startDate | date:"dd/MM - HH:mm"}} </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator [length]="filesStatus.length" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]="true">
    </mat-paginator>
</div>
