<div class="status-container">
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort matSortActive="startDate" matSortDirection="desc">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
            <td *matCellDef="let element" mat-cell>
                <span (click)="fileNameClicked.emit(element)" [ngClass]="{'clickable': element.status === 'COMPLETED'}">{{element.name}}</span> </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
            <td *matCellDef="let element" mat-cell>
                <span [ngClass]="getFileStatusClass(element.status)" class="span-file-status">{{element.status}}</span>
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="startDate">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Date</th>
            <td *matCellDef="let element" mat-cell> {{element.startDate | date:"dd/MM/yyyy HH:mm"}} </td>
        </ng-container>

        <!-- Download Column -->
        <ng-container matColumnDef="download">
            <th *matHeaderCellDef mat-header-cell> Download</th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="downloadButtonClicked.emit(element.uuid)" color="primary" mat-icon-button>
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator [length]="filesStatus.length" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [showFirstLastButtons]="true">
    </mat-paginator>
</div>
