/* Files status table */
table {
    width: 100%;
    margin-top: 15px;
    padding: 0 10px;

    ::ng-deep th.checkbox-header-cell,
    ::ng-deep td.checkbox-cell {
        padding: 0 10px;
        width: 32px;
    }

    ::ng-deep th.status-header-cell {
        .mat-sort-header-container {
            justify-content: center;
        }
    }

    ::ng-deep th.date-header-cell,
    ::ng-deep td.date-cell {
        padding: 0;
        width: 100px;
    }

    .mat-column-select {
        overflow: initial;
    }

    .checkbox-container {
        text-align: center;
    }


    .mat-cell {

        .clickable {
            cursor: pointer;
        }

        .clickable:hover {
            text-decoration: underline;
        }

        .span-file-name {
            display: block;
            overflow: hidden;
            max-height: 34px;
        }

        &.status-cell {
            text-align: center;
            line-height: 0;

            .span-file-status {
                font-size: 28px;
            }
        }

        .loading-spinner-container {
            display: flex;
            justify-content: center;
        }
    }
}
