<div class="status-container">
    <!-- Table -->
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort matSortActive="startDate" matSortDirection="desc">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th *matHeaderCellDef class="checkbox-header-cell" mat-header-cell>
                <div class="checkbox-container">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isEntirePageSelected()"
                                  [indeterminate]="selection.hasValue() && !isEntirePageSelected()">
                    </mat-checkbox>
                </div>
            </th>
            <td *matCellDef="let row" class="checkbox-cell" mat-cell>
                <div class="checkbox-container">
                    <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                                  (click)="$event.stopPropagation()"
                                  [disabled]="row.status !== 'COMPLETED' && row.status !== 'ERROR'"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </div>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
            <td *matCellDef="let element" mat-cell>
                <span (click)="fileNameClicked.emit(element)" (ellipsis-click-more)="showSnackbar($event, element.name)"
                      [ngClass]="{'clickable': element.status === 'COMPLETED'}" class="span-file-name"
                      [ellipsis-content]="element.name" ellipsis></span>
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th *matHeaderCellDef class="status-header-cell" mat-header-cell mat-sort-header> Status</th>
            <td *matCellDef="let element" class="status-cell" mat-cell>
                <!-- COMPLETED -->
                <ion-icon *ngIf="element.status === 'COMPLETED'" class="span-file-status" color="success" name="checkmark-circle-outline"></ion-icon>

                <!-- LOADING -->
                <div class="loading-spinner-container">
                    <span *ngIf="element.status !== 'COMPLETED' && element.status !== 'ERROR'" class="span-file-status">
                        <mat-spinner [diameter]="24" [strokeWidth]="2"></mat-spinner>
                    </span>
                </div>

                <!-- ERROR -->
                <ion-icon *ngIf="element.status === 'ERROR'" class="span-file-status" color="danger" name="alert-circle-outline"></ion-icon>
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="startDate">
            <th *matHeaderCellDef class="date-header-cell" mat-header-cell mat-sort-header> Date</th>
            <td *matCellDef="let element" class="date-cell" mat-cell> {{element.startDate | date:"dd/MM - HH:mm"}} </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator [length]="filesStatus.length" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]="true">
    </mat-paginator>
</div>
