:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// Toolbar offset
::ng-deep ion-router-outlet > * {
    overflow: auto !important;
    justify-content: flex-start !important;
}
