@import "src/variables";

.content {
    display: flex;
    flex-direction: column;
    padding: 15px;


    /* Request container (url input / audio switch / send button) */
    .request-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        .url-button-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .url-container {
                width: 100%;
            }

            mat-button-toggle-group {
                margin-bottom: 15px;

                ::ng-deep .mat-button-toggle-label-content {
                    line-height: 36px;
                }
            }
        }

        .request-controls {
            display: flex;
            align-items: center;

            mat-slide-toggle {
                margin-left: 15px;
                margin-right: 15px;
            }

            button {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }

    .server-status-container {
        margin: 25px 0;
        text-align: center;

        .server-status-label {
            border-radius: 20px;
            padding: 10px 50px;

            &.connected {
                background-color: $success-light;
            }

            &.disconnected {
                background-color: $danger-light;
            }
        }
    }

    .table-container {
        margin-top: 50px;

        .control-buttons {
            display: flex;
            justify-content: space-evenly;

            .download-button {
                background-color: $success;
                color: white;

                &:disabled {
                    background-color: grey;
                    color: #a8a8a8;
                }
            }

            .processor-button {
                background-color: $orange;
                color: white;

                &:disabled {
                    background-color: grey;
                    color: #a8a8a8;
                }
            }

            .delete-button {
                background-color: $danger;
                color: white;

                &:disabled {
                    background-color: grey;
                    color: #a8a8a8;
                }
            }
        }
    }
}
