.content {
    display: flex;
    flex-direction: column;
    padding: 15px;

    /* Request container (url input / send button / debug buttons) */
    .request-container {
        display: flex;

        .input-container {
            flex: 1;
        }
    }

    .server-status-container {
        margin: 25px 0;
        text-align: center;
    }

    .table-container {
        margin-top: 10px;

        .control-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            ion-button {
                font-size: 12px;
            }

            .processor-button {
                --ion-color-contrast: #ffffff !important;
            }
        }
    }
}
