<!-- Menu -->
<mat-menu #mainMenu="matMenu">
    <button [matMenuTriggerFor]="debugMenu" mat-menu-item>Debug</button>
    <button (click)="refreshActionClicked()" mat-menu-item>Refresh</button>
    <button (click)="settingsActionClicked()" mat-menu-item>Settings</button>
</mat-menu>

<!-- Debug Submenu -->
<mat-menu #debugMenu="matMenu">
    <button (click)="setUrl('bg')" mat-menu-item>Playlist Background</button>
    <button (click)="setUrl('test')" mat-menu-item>Playlist Test</button>
    <button (click)="setUrl('video')" mat-menu-item>Single Video</button>
</mat-menu>


<mat-progress-bar *ngIf="!appManager.isServerOn" color="warn" mode="indeterminate"></mat-progress-bar>
<div class="content" role="main">
    <!--  Input / Button to make request -->
    <div class="request-container">
        <mat-form-field class="input-container">
            <input [formControl]="urlFormControl" matInput placeholder="Video URL">
            <button (click)="urlFormControl.setValue('')" *ngIf="urlFormControl.value" aria-label="Clear" mat-button mat-icon-button matSuffix>
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <ion-button (click)="convertButtonClicked()" [disabled]="this.urlFormControl.invalid"
                    class="convert-button" color="primary">Convert this video
        </ion-button>
    </div>

    <div class="table-container">
        <!-- Buttons Download / Tools / Delete -->
        <ion-grid class="control-buttons">
            <ion-row>
                <ion-col>
                    <ion-button (click)="downloadButtonClicked()" [disabled]="!!!fileStatusTable.getSelected()?.length"
                                color="success" size="small">Download
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button (click)="postProcessorButtonClicked()" [disabled]="!!!fileStatusTable.getSelected()?.length"
                                class="tools-button" color="warning" size="small">Tools
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button (click)="deleteButtonClicked()" [disabled]="!!!fileStatusTable.getSelected()?.length"
                                color="danger" size="small">Delete
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!--  Table files status -->
        <app-file-status-table #fileStatusTable
                               (fileNameClicked)="openTagEditorDialog($event)"
                               [displayedColumns]="displayedColumns" [filesStatus]="appManager.filesStatus">
        </app-file-status-table>
    </div>
</div>
