.content {
    display: flex;
    flex-direction: column;
    padding: 15px;


    /* Request container (url input / audio switch / send button) */
    .request-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        .url-button-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .url-container {
                width: 100%;
            }

            mat-button-toggle-group {
                margin-bottom: 15px;

                ::ng-deep .mat-button-toggle-label-content {
                    line-height: 36px;
                }
            }
        }
    }

    .server-status-container {
        margin: 25px 0;
        text-align: center;
    }

    .table-container {
        margin-top: 50px;

        .control-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            ion-button {
                font-size: 12px;
            }

            .processor-button {
                --ion-color-contrast: #ffffff !important;
            }
        }
    }
}
