<!-- Toolbar -->
<ion-header>
    <ion-toolbar class="toolbar" color="primary">
        <img class="toolbar-logo" slot="start" src="../../../assets/icons/icon-no-padding-192.png"/>

        <ion-title>YT-Audio-DL</ion-title>

        <ion-buttons *ngIf="menu" slot="end">
            <ion-button (click)="btn.action()" *ngFor="let btn of toolbarButtons">
                <ion-icon [name]="btn.icon" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button [mat-menu-trigger-for]="menu">
                <ion-icon ios="ellipsis-vertical" md="ellipsis-vertical" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<!-- Menu -->
<mat-menu #mainMenu="matMenu">
    <button [matMenuTriggerFor]="tableColumnMenu" mat-menu-item>Table columns</button>
    <button [matMenuTriggerFor]="debugMenu" mat-menu-item>Debug</button>
    <button (click)="settingsActionClicked()" mat-menu-item>Settings</button>
</mat-menu>

<!-- Table column submenu -->
<mat-menu #tableColumnMenu="matMenu">
    <mat-checkbox (change)="updateDisplayedColumns('play')" (click)="$event.stopPropagation()" [checked]="displayedColumns.includes('play')" class="mat-menu-item">Play</mat-checkbox>
    <mat-checkbox (change)="updateDisplayedColumns('status')" (click)="$event.stopPropagation()" [checked]="displayedColumns.includes('status')" class="mat-menu-item">Status</mat-checkbox>
    <mat-checkbox (change)="updateDisplayedColumns('startDate')" (click)="$event.stopPropagation()" [checked]="displayedColumns.includes('startDate')" class="mat-menu-item">Date</mat-checkbox>
</mat-menu>

<!-- Debug Submenu -->
<mat-menu #debugMenu="matMenu">
    <button (click)="setUrl('bg')" mat-menu-item>Playlist Background</button>
    <button (click)="setUrl('test')" mat-menu-item>Playlist Test</button>
    <button (click)="setUrl('video')" mat-menu-item>Single Video</button>
</mat-menu>


<mat-tab-group class="content" mat-align-tabs="center" mat-stretch-tabs>
    <!-- Tab download -->
    <mat-tab label="Download">
        <app-download-tab [displayedColumns]="displayedColumns"></app-download-tab>
    </mat-tab>

    <!-- Tab upload playlist -->
    <mat-tab label="Upload">
        <app-upload-tab></app-upload-tab>
    </mat-tab>
</mat-tab-group>

<div class="spacer"></div>

<div [hidden]="!audioPlayerService.currentPlaylist?.length" class="audio-player-container">
    <ngx-audio-player [disablePositionSlider]="true"
                      [displayDuration]="true" [displayPlaylist]="false" [displayRepeatControls]="false"
                      [displayTitle]="false" [playlist]="audioPlayerService.currentPlaylist"></ngx-audio-player>
</div>
