/* Request container (url input / send button) */
.request-container {
    display: flex;
    align-items: center;
    padding: 10px 5px 0 5px;

    .input-container {
        flex: 1;
        margin: 5px;
    }

    .convert-button {
        margin: 5px;
    }
}

hr {
    background-color: #e0e0e0;
    margin: 5px 0;
}

.table-container {

    .filter-input-container {
        padding: 0 15px;

        mat-form-field {
            width: 100%;
        }
    }
}
