.title-container {
    mat-form-field {
        width: 100%;
    }
}

.dialog-content {
    max-height: 250px;

    .input-container {
        padding: 0;

        ion-col {
            text-align: center;

            mat-form-field {
                width: 100%;
            }
        }
    }
}

.mat-dialog-actions {
    justify-content: flex-end;
}
