<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Settings</ion-title>
        <ion-buttons slot="end">
            <button (click)="onCloseButtonClicked()" mat-icon-button>
                <i class="material-icons">done</i>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!-- Server address -->
        <ion-item>
            <ion-input [(ngModel)]="serverAddress" clearInput placeholder="Server address"></ion-input>
        </ion-item>

        <!-- Update rate -->
        <ion-item>
            <ion-label class="ion-text-wrap">Update rate (s)</ion-label>
            <ion-range [(ngModel)]="refreshRate" color="danger" max="30" min="1" pin="true"></ion-range>
        </ion-item>

        <!-- Playlist folders -->
        <ion-item>
            <ion-label class="ion-text-wrap">Playlist folders</ion-label>
            <mat-form-field>
                <input [(ngModel)]="folderToSave" [matAutocomplete]="autocomplete" matInput placeholder="Path">
                <button (click)="addFolder()" *ngIf="!savedFolders.includes(folderToSave)" [disabled]="folderToSave == ''" color="primary"
                        mat-icon-button matSuffix>
                    <i class="material-icons">add</i>
                </button>
                <button (click)="deleteFolder()" *ngIf="savedFolders.includes(folderToSave)" [disabled]="folderToSave == ''" color="primary"
                        mat-icon-button matSuffix>
                    <i class="material-icons">clear</i>
                </button>
            </mat-form-field>
            <mat-autocomplete #autocomplete="matAutocomplete">
                <mat-option *ngFor="let savedFolder of savedFolders" [value]="savedFolder">{{savedFolder}}</mat-option>
            </mat-autocomplete>
        </ion-item>
    </ion-list>
</ion-content>
