.title-container {
}

.content {
    .refresh-rate-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.mat-dialog-actions {
    justify-content: flex-end;
}
