// Big screens, avoid dialog fullscreen
@media only screen and (min-height: 600px) and (min-width: 400px) {
    ::ng-deep .settings-dialog .modal-wrapper {
        width: 350px;
        height: 460px;
        border-radius: 2px;
        box-shadow: 0 28px 48px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0 28px 48px rgba(0,0,0,0.4);
    }
}

.settings-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.settings-item {
    padding: 10px 10px 0;

    .settings-item-title {
        display: block;
        font-size: 14px;
        color: #808080;
    }

    mat-form-field,
    ion-range {
        width: 100%;
    }

    ion-range {
        padding: 0;
    }
}

hr {
    margin: 5px 0;
    background-color: #cacaca;
}

.reset-button {
    align-self: center;
}

.save-button {
    position: absolute;
    bottom: 20px;
    align-self: center;
}
