<!--<div class="title-container"></div>-->

<div class="content" mat-dialog-content>
    <div class="refresh-rate-container">
        <span>Refresh frequency</span>
        <mat-slider [(ngModel)]="refreshRate" [max]="5 * 60 * 1000 - 1" [step]="getSliderStep()" min="500"></mat-slider>
        <span>{{ formatRefreshRate() }}</span>
    </div>

    <mat-divider></mat-divider>

    <div class="playlist-folders-container">
        <span>Playlist folders</span>

        <!-- Input / Button add folder -->
        <mat-form-field class="url-container">
            <input [(ngModel)]="folderToSave" matInput placeholder="Path">
            <button (click)="addFolder()" [disabled]="folderToSave == ''" color="primary"
                    mat-icon-button matSuffix>
                <i class="material-icons">add</i>
            </button>
        </mat-form-field>

        <!-- Select / Delete folder -->
        <div class="select-folder-container">
            <mat-form-field>
                <mat-label>Saved folders</mat-label>
                <mat-select [(value)]="selectedFolder">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let folder of savedFolders" [value]="folder">
                        {{folder}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="deleteFolder()" [disabled]="selectedFolder == ''" color="primary"
                    mat-icon-button matSuffix>
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button (click)="onValidButtonClicked()" cdkFocusInitial mat-button>Ok</button>
    <button (click)="onCancelButtonClicked()" mat-button>Cancel</button>
</div>
